{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="h-screen">
  <!-- This is an example component -->
<div>
  <div class="relative items-center justify-center">
    <!-- Header Text-->
    <h1 class="text-center text-2xl font-bold p-4 bg-gray-800 text-gray-400">SHOP</h1>
    <!-- All Cards Container -->
    <div class="lg:flex items-center container mx-auto my-auto">

      <!-- Card 1 -->
      <div class="lg:m-4 shadow-md hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
        <!-- Card Image -->
        <img src="https://picsum.photos/id/29/2106/1404" alt=""class="overflow-hidden">
        <!-- Card Content -->
        <div class="p-4">
          <p>Product</p>
          <hr>

          <!-- <h3 class="font-medium text-gray-600 text-lg my-2 uppercase">Climb the Mountains</h3>
          <p class="text-justify">The be might what days revellers, which sought to a nor. Land from to suits his some. Saw him counsel begun mother though but. Ofttimes soils of since mighty pollution.</p> -->
          <div class="mt-5 flex justify-between">
            <div>
              <button class="rounded shadow py-1 px-3 text-white bg-green-400">Add to Cart</button>
              <button class="rounded shadow py-1 px-3 text-white bg-blue-400">View</button>
            </div>
            <div>
              <p>£10</p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="lg:m-4 shadow-md hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
        <!-- Card Image -->
        <img src="https://picsum.photos/id/247/2106/1404" alt=""class="overflow-hidden">
        <!-- Card Content -->
        <div class="p-4">
          <p>Product</p>
          <hr>
          <div class="mt-5 flex justify-between">
            <div>
              <button class="rounded shadow py-1 px-3 text-white bg-green-400">Add to Cart</button>
              <button class="rounded shadow py-1 px-3 text-white bg-blue-400">View</button>
            </div>
            <div>
              <p>£10</p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="lg:m-4 shadow-md hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
        <!-- Card Image -->
        <img src="https://picsum.photos/id/342/2106/1404" alt=""class="overflow-hidden">
        <!-- Card Content -->
        <div class="p-4">
          <p>Product</p>
          <hr>
          <div class="mt-5 flex justify-between">
            <div>
              <button class="rounded shadow py-1 px-3 text-white bg-green-400">Add to Cart</button>
              <button class="rounded shadow py-1 px-3 text-white bg-blue-400">View</button>
            </div>
            <div>
              <p>£10</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    
  </div>
</div>
</div>
</section>


{% endblock  %}